@import "../../../styles/_main";

.comunity-summary {
    color: $white;

    .body {
        margin-top: 2rem;

        .image-container+.image-container {
            margin-top: 1rem;
        }

        .aside {

            @include flex(1 17%);
            max-width: 17%;

            padding: 1rem;
            margin: 1rem 1rem 0 1rem;

            .menu-text {
                color: $comunity-heading-color;
            }

            .menu-item {
                @include flex-display();
                @include justify-content(flex-start);
                @include align-items(center);
            }

            .menu-icon {
                height: 3.5rem;
            }
        }

        .content {
            @include border-radius(10px);
            border: 1px solid $ligh-gray-color;

            .nav-tabs {
                .nav-item+.nav-item {
                    margin-left: 3rem;
                }

                .nav-item {
                    border: none;
                }

                .active {
                    border: none;
                    border-bottom: 2px solid $gray-44;
                }
            }
        }
    }

}