.incoming-features-container {
    .incoming-header {
        margin-bottom: 1.5rem;
    }

    .incoming-footer {
        margin-top: 0.5rem;
        margin-bottom: 2rem;

        .btn {
            padding: 0;
        }

        .google-social-btn {
            width: 8.5rem;
            padding: 0;
        }

        .apple-btn {
            padding: 0.5rem;

            .apple-social-icon {
                width: 6.8rem;
            }
        }
    }
}