@import "../../../styles/_main";

$border-radius: 10px;

.card-container {
    min-height: 17rem;
    @include border-radius($border-radius);
    border: 1px solid $ligh-gray-color;

    .card-header-container {
        position: relative;
        height: 9.7rem;

        .card-img {
            @include maximun-size;
            @include border-top-radius($border-radius);
        }

        .card-thumbnail-container {
            position: absolute;
            bottom: -0.9rem;
            margin: 0 0.5rem;
        }
    }

    .card-body-container {
        margin-top: 1rem;
        padding: 0 0.5rem 0.5rem 0.5rem;

        .card-title {
            @include roboto-regular-font;
            font-size: 16px;
            margin: 0 0 0.5rem 0;
        }
    }
}