@import "../../../styles/_main";

.searcher-container {
    @include maximum-height();

    .searcher-btn {
        @include maximum-height();
        background-color: $white;
        border: none;
        padding-left: 1rem;
        padding-right: 1rem;
        @include border-right-radius(5px);
    }

    .searcher-textfield-container {
        .input-text {
            border: none;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            @include border-left-radius(5px);
        }
    }
}