@mixin transition($transition...) {
	-webkit-transition: $transition;
	-moz-transition: $transition;
	-ms-transition: $transition;
	-o-transition: $transition;
	transition: $transition;
}

@mixin transform($transform) {
	-webkit-transform: $transform;
	-ms-transform: $transform;
	transform: $transform;
}

@mixin appearance($value) {
	-webkit-appearance: $value;
	-moz-appearance: $value;
	appearance: $value;
}

@mixin transform-origin($transform-origin) {
	-webkit-transform-origin: $transform-origin;
	-ms-transform-origin: $transform-origin;
	transform-origin: $transform-origin;
}

@mixin border-radius($border) {
	-webkit-border-radius: $border;
	-moz-border-radius: $border;
	border-radius: $border;
}

@mixin border-left-radius($border) {
	-webkit-border-top-left-radius: $border;
	-moz-border-top-left-radius: $border;
	border-top-left-radius: $border;
	-webkit-border-bottom-left-radius: $border;
	-moz-border-bottom-left-radius: $border;
	border-bottom-left-radius: $border;
}

@mixin border-right-radius($border) {
	-webkit-border-top-right-radius: $border;
	-moz-border-top-right-radius: $border;
	border-top-right-radius: $border;
	-webkit-border-bottom-right-radius: $border;
	-moz-border-bottom-right-radius: $border;
	border-bottom-right-radius: $border;
}

@mixin border-top-radius($border) {
	-webkit-border-top-right-radius: $border;
	-moz-border-top-right-radius: $border;
	border-top-right-radius: $border;
	-webkit-border-top-left-radius: $border;
	-moz-border-top-left-radius: $border;
	border-top-left-radius: $border;
}


@mixin box-shadow($value) {
	-webkit-box-shadow: $value;
	-moz-box-shadow: $value;
	box-shadow: $value;
}

@mixin preload-image($path) {
	display: block;
	content: url($path);
	height: 0;
	width: 0;
	visibility: hidden;
}

@mixin text-outline($color) {
	text-shadow:
		-1px -1px 0 $color,
		1px -1px 0 $color,
		-1px 1px 0 $color,
		1px 1px 0 $color;
}

@mixin animation($animation) {
	-webkit-animation: $animation;
	-moz-animation: $animation;
	-o-animation: $animation;
	animation: $animation;
}

@mixin filter($filter) {
	-webkit-filter: $filter;
	filter: $filter;
}

@mixin maximun-size {
	@include maximum-height();
	@include maximum-width();
}

@mixin text-between-lines($gap: 15px,
	$border-size: 1px,
	$border-color: $dark-gray) {

	display: grid;
	@include maximum-width();
	align-items: center;
	text-align: center;
	grid-template-columns: minmax(20px, 1fr) auto minmax(20px, 1fr);
	grid-gap: $gap;

	&:before,
	&:after {
		content: '';
		border-top: $border-size solid $border-color;
	}
}

// FONTS
@mixin roboto-regular-font {
	font-family: Roboto;
}

@mixin roboto-medium-font {
	font-family: Roboto Medium;
}

@mixin roboto-bold-font {
	font-family: Roboto Bold;
}

@mixin helvetica-neue-bold-font($important: null) {
	font-family: Helvetica Neue Bold $important;
}

@mixin helvetica-neue-font() {
	font-family: Helvetica Neue;
}


@mixin maximum-width {
	width: $maximum-percentage;
}

@mixin maximum-height {
	height: $maximum-percentage;
}

// see https://www.websitedimensions.com/
@mixin breakpoint($class) {
	@if $class==xs {
		@media (max-width: 767px) {
			@content;
		}
	}

	@else if $class==sm {
		@media (min-width: 768px) {
			@content;
		}
	}

	@else if $class==md {
		@media (min-width: 992px) {
			@content;
		}
	}

	@else if $class==lg {
		@media (min-width: 1200px) {
			@content;
		}
	}

	@else {
		@warn "Breakpoint mixin supports: xs, sm, md, lg";
	}
}