// put shares styles here
.test-border {
    border: $test-border;
}

.flex-row-space-between {
    @include flex-display();
    @include flex-direction(row);
    @include justify-content(space-between);
}

.flex-row-center {
    @include flex-display();
    @include flex-direction(row);
    @include justify-content(center);
}

.flex-row-center-items-center {
    @include flex-display();
    @include flex-direction(row);
    @include justify-content(center);
    @include align-items(center);
}

.flex-row-items-center {
    @include flex-display();
    @include flex-direction(row);
    @include align-items(center);
}

.flex-row-center-items-center-wrap {
    @include flex-display();
    @include flex-direction(row);
    @include justify-content(center);
    @include align-items(center);
    @include flex-wrap(wrap);
}

.flex-row-start-items-center-wrap {
    @include flex-display();
    @include flex-direction(row);
    @include justify-content(flex-start);
    @include align-items(center);
    @include flex-wrap(wrap);
}

.flex-row-start-items-baseline-wrap {
    @include flex-display();
    @include flex-direction(row);
    @include justify-content(flex-start);
    @include align-items(baseline);
    @include flex-wrap(wrap);
}

.flex-row-space-around {
    @include flex-display();
    @include flex-direction(row);
    @include justify-content(space-around);
}

.flex-row-end-items-center {
    @include flex-display();
    @include flex-direction(row);
    @include justify-content(flex-end);
    @include align-items(center);
}

.flex-row-start-items-center {
    @include flex-display();
    @include flex-direction(row);
    @include justify-content(flex-start);
    @include align-items(center);
}

.flex-row-baseline-items {
    @include flex-display();
    @include flex-direction(row);
    @include align-items(baseline);
}

.flex-column-center-items {
    @include flex-display();
    @include flex-direction(column);
    @include align-items(center);
}

.flex-column-center {
    @include flex-display();
    @include flex-direction(column);
    @include justify-content(center);
}

.maximun-size {
    height: $maximum-percentage;
    width: $maximum-percentage;
}

.hint {
    font-family: Roboto;
    color: $hint-text-color;
    font-size: 12px;
}

.form-control {
    font-size: 12px !important;
}

.line-on-side-container {
    padding-left: 1rem;
    padding-right: 1rem;
    margin-top: 1rem;
    width: $maximum-percentage;

    .line-on-side {
        @include text-between-lines($border-color:$ligh-gray-color);
    }
}

.maximum-width {
    width: $maximum-percentage;
}

.maximum-height {
    height: $maximum-percentage;
}


.input-error {
    position: relative;

    .error-message {
        color: $error-color;
        font-size: 10px;
        padding-left: 4px;

        &::before {
            content: "";
            display: block;
            position: absolute;
            top: -25px;
            left: -3px;
            width: 8px;
            height: 8px;
            background-color: #fc603d;
            border-radius: 50%;
        }
    }
}

.hidden {
    display: none;
}

.clickable {
    cursor: pointer;
}

.comunity-header-container {
    padding-left: 2rem;

    .header {
        @include roboto-medium-font();
        font-size: 20px;
        color: $comunity-heading-color;
    }
}

.header {
    @include roboto-medium-font();
    font-size: 20px;
    color: $comunity-heading-color;
}

.btn-transparent {
    background: none;
    border: none;
}