// put shares styles here
.test-border {
    border: $test-border;
}

.flex-row-space-between {
    @include flex-display();
    @include flex-direction(row);
    @include justify-content(space-between);
}

.flex-row-center {
    @include flex-display();
    @include flex-direction(row);
    @include justify-content(center);
}

.flex-row-space-around {
    @include flex-display();
    @include flex-direction(row);
    @include justify-content(space-around);
}

.flex-column-center-items {
    @include flex-display();
    @include flex-direction(column);
    @include align-items(center);
}

.flex-column-center {
    @include flex-display();
    @include flex-direction(column);
    @include justify-content(center);
}

.maximun-size {
    height: $maximum-percentage;
    width: $maximum-percentage;
}

.hint {
    font-family: Roboto;
    color: $hint-text-color;
    font-size: 12px;
}

.form-control {
    font-size: 12px !important;
}

.line-on-side-container {
    padding-left: 1rem;
    padding-right: 1rem;
    margin-top: 1rem;
    width: $maximum-percentage;

    .line-on-side {
        @include text-between-lines($border-color:$ligh-gray-color);
    }
}