// Put shared styling variables here
$error-color: #fc603d;


$maximum-percentage: 100%;
$header-height: 2.8em;

// Colors
$light-blue-doo: #2EE2EF;
$blue-doo: #349CBB;
$dark-gray: #A9A9A9;
$facebook-color: #3b5998;
$hint-text-color: #919191;
$ligh-gray-color: #DEDEDE;
$white: #FFFFFF;
$comunity-heading-color: #434343;
$gray-44: #707070;

$test-border: 1px solid black;

@font-face {
    font-family: Roboto Bold;
    src: url("/fonts/Roboto/Roboto-Bold.ttf");
}

@font-face {
    font-family: Roboto;
    src: url("/fonts/Roboto/Roboto-Regular.ttf");
}

@font-face {
    font-family: Roboto Medium;
    src: url("/fonts/Roboto/Roboto-Medium.ttf");
}

@font-face {
    font-family: Helvetica Neue Bold;
    src: url("/fonts/Helvetica-Neue/HelveticaNeueBold.ttf");
}

@font-face {
    font-family: Helvetica Neue;
    src: url("/fonts/Helvetica-Neue/HelveticaNeue.ttf");
}