// Put shared styling variables here
$error: #fc603d;


$maximum-percentage: 100%;
$header-height: 2.8em;

// Colors
$light-blue-doo: #2EE2EF;
$blue-doo: #349CBB;
$dark-gray: #A9A9A9;
$facebook-color: #3b5998;

$test-border: 1px solid black;