@import "../../../../styles/_main";

.facebook-login-btn {
    background-color: $facebook-color;
    border-color: $facebook-color;
    @include border-radius(18px);
    padding: 2px;
    font-size: 12px;
    height: 2.5rem;
    margin-bottom: 0.5rem;

    &:hover {
        background-color: $facebook-color;
        border-color: $facebook-color;
    }
}