@import "../../styles/_main";

header {
    position: fixed;
    width: $maximum-width;
    background-color: $blue-doo;

    nav {
        padding-bottom: 0.4em;
        padding-top: 0.4em;

        .logo-container {
            // TODO: Revisar este tamaño
            width: 15em;

            .logo {
                width: 2em;
            }
        }
    }
}