@import "../../styles/_main";

header {
    position: fixed;
    width: $maximum-percentage;
    height: $header-height;
    background-color: $blue-doo;
    z-index: 100;

    nav {
        padding: 0 1.3rem;
        height: $maximum-percentage;

        .left-container {
            color: white;

            .logo-container {

                width: 6rem;
                height: 70%;
                padding-bottom: 0.2rem;

                .logo {

                    width: 4.15em;
                }
            }

            .searcher {
                @include maximum-height();
                width: 25rem;
                padding-top: 0.2rem;
                padding-bottom: 0.2rem;
            }

            .side-btn-menu-container {
                @include maximum-height();
                padding-right: 0.5rem;

                .side-menu-btn {
                    color: $white;
                    @include flex-display();
                    @include align-items(center);

                    padding: 0;

                    .side-menu-btn-icon {
                        font-size: 22px;
                    }
                }
            }
        }



        .searcher-container {
            .cancel-heading {
                color: white;
                font-size: 14px;
                margin: 0;
                background: transparent;
                border: none;
                padding-right: 1rem;
                padding-top: 0.2rem;
            }
        }
    }
}