@import "../../../styles/_main";

.login-container {
    font-family: 'Roboto', sans-serif;

    @include maximun-size();

    .left-container {
        padding-right: 6rem;

        .login-card {
            width: 27rem;
            @include border-radius(6px);

            .login-buttons {
                padding-left: 2em;
                padding-right: 2em;
                margin-top: 1.2em;
                width: $maximum-percentage;

                .login-btn {
                    @include border-radius(12px);
                    padding: 2px;
                    font-size: 12px;
                }
            }

            .doo-terms {
                padding: 2em 3em 0.5em 3em;
                text-align: center;

                p {
                    font-size: 10px;
                }
            }

            .line-on-side {
                @include roboto-regular-font();
                font-size: 12px;
            }
        }
    }

    .right-container {
        padding-left: 6rem;

        .right-logo {
            height: 29em;
        }
    }
}