@import "../../styles/_main";

$font-size: 12px;
$background-color: #169FBB;

.footer-container {
    background: $background-color 0% 0% no-repeat padding-box;
    padding: 1.1rem 5.5rem;
    margin-top: 2.3rem;

    .footer-top {
        border-bottom: 1px solid $white;
        padding-bottom: 1.5rem;

        .footer-link {
            text-decoration: none;
            color: $white;
            @include roboto-regular-font;
            font-size: $font-size;
            height: 1.5rem;

            &.with-image {
                @include flex-display();
                @include justify-content(center);
                @include align-items(center);
                height: 2rem;
                //margin: 1rem 0 1rem 0;

                margin-right: 2rem;
            }
        }

        .footer-title {
            font-size: $font-size;
            @include roboto-bold-font;
            color: $white;
            margin: 0;
            height: 1.5rem;
        }

        .social-networks-container {
            @include flex-display();
            @include justify-content(center);
            @include align-items(center);

        }

        .footer-icon {
            width: 2rem;

            &.apple {
                width: 3rem;
            }
        }

        .column {
            @include breakpoint(xs) {
                @include flex-property(flex, (0 0 50%));
            }
        }
    }

    .footer-bottom {
        margin-top: 0.7rem;

        p {
            @include roboto-regular-font;
            color: $white;
        }
    }
}