@import "../../../styles/_main";

.drop-down-container {

    color: $hint-text-color;
    @include maximum-width;

    .drop-down-header {
        @include maximum-width;

        .icon-container {
            padding: 0.5rem;

            .icon {
                height: 2.5rem;
            }
        }

        .header-label {
            @include helvetica-neue-bold-font;
            margin: 0;
            font-size: 14px;
        }
    }

    .drop-down-body {
        @include maximum-width;

        .dropdown-item {
            @include helvetica-neue-bold-font;
            color: $hint-text-color;
            padding-bottom: 0.3rem;
            padding-top: 0.3rem;
            padding-left: 3.5rem;
        }
    }

    .header {}

}