@import "../../../styles/_main";

.payment-ways-container {
    color: $comunity-heading-color;
    padding: 1rem;
    @include roboto-regular-font;

    .payment-section {
        margin-bottom: 0.5rem;

        .payment-title {
            font-size: 12px;
            border-bottom: 1px solid $ligh-gray-color;
            padding: 0.4rem 0;
            margin: 0;
        }

        .payment-way {
            .payment-icon {
                height: 3rem;
            }

            .name {
                color: $hint-text-color;
                @include roboto-regular-font;
                margin-left: -0.5rem;
                font-size: 12px;
            }
        }
    }


}