@import "../../../../styles/_main";

.product-container {
    color: $comunity-heading-color;
    padding: 0.5rem 0.7rem;

    border: 1px solid $ligh-gray-color;
    @include border-radius(5px);

    @include roboto-regular-font;

    .product-detail {
        padding-right: 0.2rem;

        .name {
            padding-top: 0.5rem;
            font-size: 16px;
        }

        .description {
            font-size: 12px;
            color: $hint-text-color;
            padding: 0.2rem;
        }
    }

    .product-thumbnail {
        @include maximum-width;
    }

}