@import "../../../styles/_main";

$heading-color: #434343;

.popular-comunities-container {

    .comunity-header-container {
        padding-left: 1.1rem;
    }

    .cards-comunities-container {
        @include maximum-width;

        .comunity-card {
            position: relative;

            .card-comunity-img {
                @include maximum-width;
                @include border-radius(9px);
                height: 7.15rem;
            }

            .card-comunity-title {
                position: absolute;
                bottom: 2.1rem;
                color: $white;
                margin-left: 1.1rem;
                font-size: 18px;
            }
        }
    }
}